<appSettings>
  <add key="URL" value="http://www.store.demoqa.com"/>
  <add key="TestURL" value="file:///C:/Users/sravanth/source/repos/OnlineStore/OnlineStore/Configurations/asd.html"/>
  <add key="TestDataSheetPath" value="C:/Users/sravanth/source/repos/OnlineStore/OnlineStore/TestDataAccess/TestData.xlsx"/>
</appSettings>